<p>summary works!</p>
<div class="app-summary">
    <div class="app-summary__order">
        <span class="app-summary__order-title">Your Orders</span>
        <span class="app-summary__order-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt pulvinar diam sed egestas. </span>
        <button class="app-summary__order-button">Create New Order</button>
    </div>
    <div class="app-summary__cash">
        <span class="app-summary__cash-title">This Week</span>
        <span class="app-summary__cash-amount">$1329</span>
    </div>
    <div class="app-summary__cash">
        <span class="app-summary__cash-title">This Month</span>
        <span class="app-summary__cash-amount">$5,329</span>
    </div>
</div>