@import '../../../styles.scss';
ś
.app-navbar {
    display: flex;
    //TODO: mixins
    background-color: #FFFFFF;

    .app-navbar__left-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .app-navbar__menu {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }

    .app-navbar__menu-item {
        margin-right: 50px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-style: normal;    }
}
