<div class="app-navbar">
  <div class="app-navbar__left-container">
    <img ngSrc="../../../assets/logotype/logotype.png" class="app_navbar__logotype" width="70" height="60" priority>
    <div class="app-navbar__menu">
      <span class="app-navbar__menu-item">Dashboard</span>
      <span class="app-navbar__menu-item">Orders</span>
      <span class="app-navbar__menu-item">Settings</span>
    </div>
  </div>
  <div class="app-navbar__right-container"></div>
</div>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>